[Unit]
Description=Jenkins Slave
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/java -jar {{ jenkins_agent_jar }} -jnlpUrl {{ jenkins_jnlp_url }} -secret {{ jenkins_secret }} -workDir "{{ jenkins_home }}"
User=jenkins
Restart=always